*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Utilities*/
:root{
    --background:#F6F5F3;
    --title: #FF9614;
    --title-bg:#FFFFFF;
    --purple-dark:#4E3969;
    --purple-light:#7C69A4;
    --border-separator:#F7972E;

}
.container{
    width: 100%;
    border: 1px dashed black;
}

/*#region fonts*/
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    font-family: 'Nerko One', cursive;
}
/*#endregion fonts*/

/*region Navbar Logo*/
header{
    background: var(--title-bg);
    padding: 0.7rem;
    .logo{
        display: block;
        text-align: center;
        font-size: xx-large;
        text-shadow: 1px 1px 1px rgb(180, 180, 180);
    }
    .logo a{
        text-decoration: none;
        color: var(--title);
    }
}
/*#endregion Navbar Logo*/
main{
    background:var(--background)
}
.category{
    color: grey;
    font-weight: 300;
    font-size:x-small;
}
h1{
    color:var(--purple-dark);
}





/*MEDIA QUERY TABLET*/
@media screen and (min-width:768px) {
    
}